/* styles.css */

body, html {
    margin: 0;
    padding: 24px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.resume-container {
  
    max-width: 88%;
    margin: 0 auto;
    background: rgb(0, 0, 0);
    max-width: 580px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(79, 66, 66, 0.1);
}
h1 {
    color: white;
}
.classh1 {
          font-size: 800%;
          font-weight: bolder;
          text-align: center;
          color: white;
}
header {
    text-align: center;
    color: white;
}

img.profile-pic {

    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-top: 4% ;
    margin-bottom: 20px;
    border:  solid  #007BFF;
    box-shadow: 0 0 20px #007BFF; 
    
    
}
h2 {
    text-align: center;
    margin: 10px 0;
    font-size: 25px;
    color: white;
}
p {
   color: white;

}
h3 {
    text-align: center;
    font-size: 20px;
    padding: 2%;
    margin: 20px 0 10px;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #007BFF; 
    padding-bottom: 5px;
    border:  solid  #007BFF;
}

li {
    margin: 10px 0;
    color: white;
}

/* Responsive design */
@media (max-width: 600px) {
    .resume-container {
        padding: 30px;
        box-shadow: 0 0 15px  rgb(118, 118, 221); 
    }

    .profile-pic {
        width: 80px;
        height: 80px;
    }

    h1.h1 {
        font-size: 30px !important;
        color: white;
    }

    h1.name{
        font-size: 24px;
        color: white;
    }
    
    h2 {
        font-size: 24px;
        color: white;
    }
}
button { 
    font: inherit;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    margin-top: 36px;
    color: white;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 50px;
    box-shadow: 0 0 5px #007BFF; 
    text-decoration: solid;
}
button:hover{
    background-color:  #0f63bd;
    
}
